Flask
gunicorn
eventlet
Flask-SocketIO

# Banco de Dados
Flask-SQLAlchemy
Flask-Bcrypt
psycopg2-binary  # Para PostgreSQL em produção
alembic
Flask-Migrate

# API e Utilitários
Flask-Cors
requests
python-dotenv
google-generativeai
python-dotenv
