{% extends "base.html" %}
{% block title %}Redefinir Senha{% endblock %}

{% block content %}
<h2 class="text-center mb-3">Redefinir Senha</h2>

<form method="POST">
    <div class="mb-3">
        <input
          type="email"
          name="email"
          class="form-control"
          placeholder="Seu email"
          required
        >
    </div>

    <!-- Pergunta de segurança -->
    <div class="mb-3">
        <select name="security_question" class="form-select" required>
            <option value="" disabled selected>Pergunta de segurança</option>
            <option value="pet">Qual o nome do seu primeiro pet?</option>
            <option value="cidadeNatal">Qual a sua cidade natal?</option>
            <option value="timeFavorito">Qual seu time favorito?</option>
        </select>
    </div>

    <!-- Resposta de segurança -->
    <div class="mb-3">
        <input
          type="text"
          name="security_answer"
          class="form-control"
          placeholder="Resposta da pergunta"
          required
        >
    </div>

    <!-- Nova senha -->
    <div class="mb-3">
        <input
          type="password"
          name="nova_senha"
          class="form-control"
          placeholder="Nova senha"
          required
        >
    </div>

    <button type="submit" class="btn btn-warning w-100">Redefinir</button>
</form>
{% endblock %}

{% block actions %}
<div class="text-center mt-3">
    <a href="{{ url_for('routes_bp.login') }}" class="link-button">
        <i class="fa-solid fa-arrow-left"></i> Voltar ao login
    </a>
</div>
{% endblock %}
