{% extends "base.html" %}

{% block content %}
<div class="spotify-container">
  <h1>🎶 Ambiente Musical Nicopel</h1>
  <p>Aumente sua produtividade com nossas playlists exclusivas para colaboradores.</p>

  <div class="playlist">
    <iframe style="border-radius:12px" 
            src="https://open.spotify.com/embed/playlist/6JZb4gLWnRp84E2EOH18WS?utm_source=generator" 
            width="100%" height="380" 
            frameBorder="0" 
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
            loading="lazy"></iframe>
  </div>
</div>
{% endblock %}
